.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.popup .blanket {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup .content {
    position: absolute;
    padding: 20px;
    background-color: rgb(235, 235, 235);
    width: 400px;
    height: 300px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;
}
